.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
  padding: 22px 0;
  margin-bottom: 129px;
}
@media (max-width: 414px) {
  .header {
    gap: 22px;
    margin-bottom: 10px;
  }
}
.header_link {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 32px;
  letter-spacing: 2px;
  font-weight: 400;
  transition: all 1s;
}
@media (max-width: 1195px) {
  .header_link {
    font-size: 24px;
  }
}
@media (max-width: 835px) {
  .header_link {
    font-size: 18px;
  }
}
@media (max-width: 376px) {
  .header_link {
    font-size: 14px;
  }
}
.header_link:hover {
  color: rgb(158, 208, 255);
}
.header_link:active {
  color: rgb(211, 234, 255) 3;
}
.header_logo {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 70px;
  text-transform: uppercase;
  white-space: nowrap;
}
@media (max-width: 1441px) {
  .header_logo {
    font-size: 64px;
  }
}
@media (max-width: 1195px) {
  .header_logo {
    font-size: 56px;
  }
}
@media (max-width: 835px) {
  .header_logo {
    font-size: 24px;
  }
}
@media (max-width: 376px) {
  .header_logo {
    font-size: 24px;
  }
}

.top {
  margin-bottom: 128px;
}
@media (max-width: 1195px) {
  .top {
    margin-top: 72px;
    margin-bottom: 46px;
  }
}
@media (max-width: 835px) {
  .top {
    margin-bottom: 57px;
  }
}
@media (max-width: 376px) {
  .top {
    margin-bottom: 30px;
  }
}
.top_titleGroup {
  max-width: 1000px;
  margin: 0 auto;
}
.top_highlight-wrap {
  position: relative;
  display: inline-block;
}
.top_title-underline {
  position: absolute;
  bottom: 0;
  left: -15px;
  width: 110%;
  height: auto;
  z-index: -1;
  pointer-events: none;
}
.top_image-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(280px, 50vw, 897px);
  margin: 0 auto;
}
.top_main-image {
  padding-top: 90px;
  width: 80%;
  height: auto;
  display: block;
}
.top_star {
  position: absolute;
  width: 13%;
  height: auto;
}
.top_star path {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: draw 9.5s ease-out forwards;
}
.top_action {
  display: flex;
  justify-content: center;
}
.top_action-container {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: center;
  margin-right: 8%;
}
.top_action-arrow {
  width: clamp(77px, 10vw, 256px);
}
.top_action-svg {
  width: 100%;
  height: auto;
}
.top_action-btn {
  font-family: "OpenSans-Bold", sans-serif;
  cursor: pointer;
  font-size: 40px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  padding: 40px 52px;
  background-color: rgb(208, 232, 255);
  border-radius: 40px;
  cursor: pointer;
  white-space: nowrap;
  border: 1px solid transparent;
  margin-top: 72px;
  transition: all 1s;
  font-size: clamp(14px, 4vw, 40px);
  padding: clamp(11px, 4vw, 40px) clamp(12px, 5vw, 52px);
}
.top_action-btn:hover {
  background-color: rgb(224, 240, 255);
  color: rgb(62, 62, 62);
}
.top_action-btn:active {
  background-color: rgba(229, 242, 255, 0.5);
  color: rgb(103, 103, 103);
}
@media (max-width: 1195px) {
  .top_action-btn {
    margin-top: 72px;
    border-radius: 30px;
  }
}
@media (max-width: 835px) and (min-width: 376px) {
  .top_action-btn {
    margin-top: 56px;
    border-radius: 25px;
    padding: 20px;
    white-space: wrap;
    font-size: 24px;
  }
}
@media (max-width: 376px) {
  .top_action-btn {
    margin-top: 48px;
    border-radius: 18px;
    white-space: wrap;
  }
}

.star-left {
  bottom: 12%;
  left: 7%;
  transform: rotate(-20deg);
}

.star-right {
  top: 6%;
  right: 23%;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
.programs {
  margin-bottom: 128px;
}
@media (max-width: 376px) {
  .programs {
    margin-bottom: 72px;
  }
}
.programs_title {
  max-width: 1400px;
  margin: 0 auto;
  padding-bottom: 58px;
}
.programs_body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}
@media (max-width: 1441px) {
  .programs_body {
    justify-content: start;
  }
}
@media (max-width: 1195px) {
  .programs_body {
    gap: 16px;
    justify-content: center;
  }
}
@media (max-width: 716px) {
  .programs_body {
    gap: 4px;
  }
}
@media (max-width: 376px) {
  .programs_body {
    margin: 0 8px;
  }
}
.programs_card {
  border-radius: 40px;
  padding: 40px 48px 24px 48px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 517px;
  background: linear-gradient(180deg, #ffd2d2 0%, #e2ccef 100%);
}
@media (max-width: 1441px) {
  .programs_card {
    max-width: 408px;
  }
}
@media (max-width: 1195px) {
  .programs_card {
    max-width: 300px;
    padding: 32px 23px 24px 48px;
  }
}
@media (max-width: 836px) {
  .programs_card {
    max-width: 340px;
    padding: 21px 21px 24px 40px;
    border-radius: 25px;
  }
}
@media (max-width: 742px) {
  .programs_card {
    max-width: 359px;
    border-radius: 18px;
  }
}
@media (max-width: 716px) {
  .programs_card {
    padding: 24px 16px 17px 32px;
    max-width: 100%;
    flex: 1 1 100%;
  }
}
@media (min-width: 836px) {
  .programs_card:nth-last-child(-n+2) {
    width: 100%;
    max-width: 789px;
    flex: 1 1;
  }
}
@media (max-width: 836px) and (min-width: 735px) {
  .programs_card:nth-last-child(1) {
    width: 100%;
    max-width: 722px;
    flex: 1 1 auto;
  }
}
.programs_card-title {
  margin-bottom: 16px;
  font-family: "OpenSans-SemiBold", sans-serif;
  font-size: 40px;
  font-size: clamp(0.875rem, 0.7239rem + 0.6536vw, 1.5rem);
  font-weight: 600;
}
.programs_card-text {
  margin-bottom: 11px;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: clamp(0.875rem, 0.7239rem + 0.6536vw, 1.5rem);
}
.programs_card-img {
  width: 100%;
  max-width: clamp(69px, 6vw, 108px);
  margin-left: auto;
}

.why {
  margin-bottom: 128px;
}
@media (max-width: 470px) {
  .why {
    padding: 0 8px;
  }
}
@media (max-width: 377px) {
  .why {
    margin-bottom: 72px;
  }
}
.why_titleGroup {
  max-width: 1149px;
  margin: 0 auto;
}
.why_highlight-wrap {
  position: relative;
  display: inline-block;
}
.why_title-underline {
  position: absolute;
  bottom: -5px;
  left: -15px;
  width: 110%;
  height: auto;
  z-index: -1;
  pointer-events: none;
}
.why_body {
  padding-top: 48px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 24px;
}
@media (max-width: 1195px) and (min-width: 376px) {
  .why_body {
    padding-top: 72px;
  }
}
@media (max-width: 1441px) {
  .why_body {
    gap: 16px;
  }
}
@media (max-width: 899px) {
  .why_body {
    grid-template-rows: repeat(2, 1fr);
  }
}
@media (max-width: 376px) {
  .why_body {
    gap: 4px;
  }
}

.card {
  background-color: rgb(208, 232, 255);
  perspective: 1000px;
  border-radius: 40px;
  aspect-ratio: 1/1;
  cursor: pointer;
}
@media (max-width: 1441px) {
  .card {
    border-radius: 30px;
  }
}
@media (max-width: 899px) {
  .card {
    aspect-ratio: 3/2;
    border-radius: 25px;
  }
}
@media (max-width: 470px) {
  .card {
    aspect-ratio: 1/1;
    border-radius: 18px;
  }
}
@media (max-width: 899px) {
  .card:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .card:nth-child(2) {
    grid-column: 3/5;
    grid-row: 1/2;
  }
  .card:nth-child(3) {
    grid-column: 1/3;
    grid-row: 2/2;
  }
  .card:nth-child(4) {
    grid-column: 3/5;
    grid-row: 2/2;
  }
}
.card__inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}
.card--flipped .card__inner {
  transform: rotateY(180deg);
}
.card__front-wrap {
  margin-bottom: 24px;
}
@media (max-width: 470px) {
  .card__front-wrap {
    margin-bottom: 8px;
  }
}
.card__front {
  padding: 40px 32px 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 470px) {
  .card__front {
    padding: 16px;
  }
}
.card__front-action {
  font-family: "OpenSans-SemiBold", sans-serif;
  font-size: clamp(1.25rem, 0.9477rem + 1.3072vw, 2.5rem);
  text-align: center;
  letter-spacing: 2px;
  white-space: nowrap;
}
@media (max-width: 899px) and (min-width: 635px) {
  .card__front-action {
    font-size: 32px;
  }
}
@media (max-width: 327px) {
  .card__front-action {
    font-size: 14px;
  }
}
.card__front-img {
  width: clamp(2.75rem, 1.8434rem + 4.9213vw, 7.25rem);
}
@media (max-width: 1441px) {
  .card__front-img {
    width: clamp(2.75rem, 1.6434rem + 4.7213vw, 7.25rem);
  }
}
.card__back {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "OpenSans-Regular", sans-serif;
}
.card__front, .card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: clamp(12px, 3vw, 24px);
  backface-visibility: hidden;
  top: 0;
  left: 0;
  box-sizing: border-box;
}
.card__back {
  transform: rotateY(180deg);
}

.rewievs {
  margin-bottom: 128px;
}
@media (max-width: 376px) {
  .rewievs {
    margin-bottom: 72px;
  }
}
.rewievs_titlegroup {
  position: relative;
}
.rewievs_svg {
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  width: 555px;
  height: 142px;
}
@media (max-width: 1441px) {
  .rewievs_svg {
    width: 469px;
    height: 114px;
  }
}
@media (max-width: 1195px) {
  .rewievs_svg {
    width: 402px;
    height: 98px;
  }
}
@media (max-width: 835px) {
  .rewievs_svg {
    width: 317px;
    height: 83px;
  }
}
@media (max-width: 376px) {
  .rewievs_svg {
    top: -20px;
    width: 216px;
    height: 61px;
  }
}

.swiper-container {
  height: auto;
}

.wrapper {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 136px;
  margin-left: -30%;
  padding-top: 88px;
}
@media (max-width: 1441px) {
  .wrapper {
    gap: 112px;
    margin-left: -360px;
  }
}
@media (max-width: 1195px) {
  .wrapper {
    gap: 96px;
    margin-left: -280px;
  }
}
@media (max-width: 835px) {
  .wrapper {
    gap: 72px;
  }
}
@media (max-width: 376px) {
  .wrapper {
    gap: 4px;
    padding-top: 38px;
  }
}

.slide {
  background: linear-gradient(180deg, #ffd2d2 0%, #e2ccef 100%);
  text-align: center;
  border-radius: 40px;
  min-width: 788px;
  height: 100%;
  min-height: 595px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 48px 57px 128px 56px;
}
@media (max-width: 1441px) {
  .slide {
    min-width: 628px;
    max-height: 404px;
    padding: 48px 32px 69px 32px;
  }
}
@media (max-width: 1195px) {
  .slide {
    min-width: 473px;
    min-height: 473px;
    padding: 48px 24px 60px 24px;
    border-radius: 30px;
  }
}
@media (max-width: 835px) {
  .slide {
    min-width: 353px;
    min-height: 360px;
    padding: 40px 24px 50px 24px;
    border-radius: 25px;
  }
}
@media (max-width: 376px) {
  .slide {
    min-width: 358px;
    max-height: 330px;
    padding: 38px 24px 39px 24px;
    border-radius: 18px;
  }
}
.slide_img {
  width: 100%;
  max-width: 159px;
  margin-bottom: 48px;
}
@media (max-width: 1441px) {
  .slide_img {
    max-width: 137px;
  }
}
@media (max-width: 1195px) {
  .slide_img {
    max-width: 117px;
  }
}
@media (max-width: 835px) {
  .slide_img {
    max-width: 73px;
    margin-bottom: 39px;
  }
}
@media (max-width: 376px) {
  .slide_img {
    margin-bottom: 19px;
  }
}
.slide_info {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 24px;
  margin-bottom: 16px;
  font-weight: 700;
}
@media (max-width: 1441px) {
  .slide_info {
    font-size: 20px;
  }
}
@media (max-width: 1195px) {
  .slide_info {
    font-size: 20px;
  }
}
@media (max-width: 835px) {
  .slide_info {
    font-size: 17px;
  }
}
@media (max-width: 376px) {
  .slide_info {
    font-size: 17px;
    margin-bottom: 10px;
  }
}
.slide_text {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 24px;
}
@media (max-width: 1441px) {
  .slide_text {
    font-size: 20px;
  }
}
@media (max-width: 1195px) {
  .slide_text {
    font-size: 16.5px;
  }
}
@media (max-width: 376px) {
  .slide_text {
    font-size: 17px;
  }
}

.bottom_body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1020px) {
  .bottom_body {
    margin: 0 16px;
  }
}
@media (max-width: 680px) {
  .bottom_body {
    padding-top: 10px;
    gap: 10px;
  }
}

.body-left {
  position: relative;
  align-self: self-start;
}
.body-left_body {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 151px;
}
@media (max-width: 680px) {
  .body-left_body {
    padding-top: 40px;
  }
}
.body-left_btn {
  background-color: rgb(208, 232, 255);
  border-radius: 40px;
  padding: 40px 120px;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 40px;
  font-weight: 700;
  white-space: nowrap;
  letter-spacing: 2px;
  text-align: center;
  cursor: pointer;
  transition: all 1s;
  z-index: 100;
}
.body-left_btn:hover {
  background-color: rgb(224, 240, 255);
  color: rgb(62, 62, 62);
}
.body-left_btn:active {
  background-color: rgba(229, 242, 255, 0.5);
  color: rgb(103, 103, 103);
}
@media (max-width: 1441px) {
  .body-left_btn {
    font-size: 32px;
    font-weight: 600;
    padding: 40px 102px;
  }
}
@media (max-width: 1195px) {
  .body-left_btn {
    font-size: 24px;
    padding: 32px 70px;
    border-radius: 30px;
  }
}
@media (max-width: 835px) {
  .body-left_btn {
    font-size: 24px;
    padding: 22px;
    min-height: 98px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 353px;
    text-align: center;
    border-radius: 25px;
    white-space: wrap;
  }
}
@media (max-width: 376px) {
  .body-left_btn {
    font-size: 14px;
    padding: 10px 37px;
    min-height: 59px;
    max-width: 178px;
    border-radius: 18px;
  }
}
.body-left_svg-top {
  position: absolute;
  right: -85px;
  top: 56px;
  width: 468px;
  height: 341px;
}
@media (max-width: 1441px) {
  .body-left_svg-top {
    top: 86px;
    width: 367px;
    height: 259px;
  }
}
@media (max-width: 1195px) {
  .body-left_svg-top {
    top: 106px;
    right: -60px;
    width: 285px;
    height: 199px;
  }
}
@media (max-width: 680px) {
  .body-left_svg-top {
    display: none;
  }
}
.body-left_svg-bottom {
  position: absolute;
  left: -61px;
  bottom: -84px;
  width: 468px;
  height: 341px;
}
@media (max-width: 1441px) {
  .body-left_svg-bottom {
    width: 400px;
    height: 198px;
  }
}
@media (max-width: 1195px) {
  .body-left_svg-bottom {
    bottom: -54px;
    width: 363px;
    height: 166px;
  }
}
@media (max-width: 790px) {
  .body-left_svg-bottom {
    bottom: -45px;
    left: -50px;
    width: 363px;
    height: 166px;
  }
}
@media (max-width: 760px) {
  .body-left_svg-bottom {
    display: none;
  }
}

@media (max-width: 1441px) {
  .body-right_img {
    width: 100%;
    max-width: 440px;
  }
}
@media (max-width: 1195px) {
  .body-right_img {
    max-width: 367px;
  }
}
@media (max-width: 835px) {
  .body-right_img {
    max-width: 265px;
  }
}
@media (max-width: 376px) {
  .body-right_img {
    max-width: 148px;
  }
}

.footer {
  background-color: rgb(0, 0, 0);
  padding: 48px 0;
}
.footer_body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 56px;
  margin-bottom: 64px;
}
@media (max-width: 835px) {
  .footer_body {
    gap: 48px;
  }
}
@media (max-width: 575px) {
  .footer_body {
    gap: 20px;
    margin-bottom: 56px;
  }
}
.footer_link {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 32px;
  letter-spacing: 2px;
  font-weight: 400;
  color: rgb(240, 240, 240);
  transition: all 1s;
  cursor: pointer;
}
@media (max-width: 1195px) {
  .footer_link {
    font-size: 24px;
  }
}
@media (max-width: 835px) {
  .footer_link {
    font-size: 18px;
  }
}
@media (max-width: 575px) {
  .footer_link {
    font-size: 14px;
  }
}
.footer_link:hover {
  color: rgb(158, 208, 255);
}
.footer_link:active {
  color: rgb(211, 234, 255) 3;
}
.footer_logo {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 70px;
  text-transform: uppercase;
  color: white;
  flex-shrink: 0;
}
@media (max-width: 1441px) {
  .footer_logo {
    font-size: 64px;
  }
}
@media (max-width: 1195px) {
  .footer_logo {
    font-size: 56px;
  }
}
@media (max-width: 835px) {
  .footer_logo {
    font-size: 48px;
  }
}
@media (max-width: 575px) {
  .footer_logo {
    font-size: 24px;
  }
}
@media (max-width: 376px) {
  .footer_logo {
    font-size: 23px;
  }
}
.footer_info {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 32px;
}
@media (max-width: 1195px) {
  .footer_info {
    font-size: 24px;
  }
}
@media (max-width: 835px) {
  .footer_info {
    font-size: 18px;
  }
}
@media (max-width: 376px) {
  .footer_info {
    font-size: 14px;
  }
}

.video {
  position: relative;
  margin-bottom: 128px;
}
@media (max-width: 1195px) {
  .video {
    margin-bottom: 155px;
  }
}
@media (max-width: 850px) {
  .video {
    margin-bottom: 128px;
  }
}
@media (max-width: 376px) {
  .video {
    margin-bottom: 72px;
  }
}
.video_svg {
  position: absolute;
  top: -20%;
  left: 0;
  width: 13%;
  height: auto;
}
.video_svg path {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: draw 3.5s ease-out forwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
.video-bg {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  border-radius: 40px;
}

.video-bg video {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
  border-radius: 40px;
}

body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.title {
  font-family: "OpenSans-SemiBold", sans-serif;
  font-size: 56px;
  color: rgb(0, 0, 0);
  text-align: center;
  letter-spacing: 1px;
  line-height: 132%;
}

@media (max-width: 1194px) {
  .title {
    font-size: 40px;
  }
}
@media (max-width: 834px) {
  .title {
    font-size: 32px;
  }
}
@media (max-width: 375px) {
  .title {
    font-size: 24px;
  }
}
.container {
  margin: 0 auto;
  max-width: 1600px;
}

@media (max-width: 1441px) {
  .container {
    max-width: 1280px;
  }
}
@media (max-width: 1195px) {
  .container {
    max-width: 932px;
  }
}
@media (max-width: 835px) {
  .container {
    max-width: 735px;
  }
}
@media (max-width: 375px) {
  .container {
    max-width: 341px;
  }
}
[data-animate] path {
  stroke: black;
  fill: none;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  transition: stroke-dashoffset 2.5s ease-out;
}

[data-animate].animated path {
  stroke-dashoffset: 0;
}/*# sourceMappingURL=styles.css.map */