@font-face {
  font-family: "Inter";
  src: url(/assets/fonts/Inter-Regular.ttf) format("ttf");
}

@font-face {
  font-family: "OpenSans-Regular";
  font-weight: 400;
  src: url(/assets/fonts/openSans/OpenSans-Regular.ttf) format("ttf");
}

@font-face {
  font-family: "OpenSans-SemiBold";
  font-weight: 600;
  src: url(/assets/fonts/openSans/OpenSans-SemiBold.ttf) format("ttf");
}

@font-face {
  font-family: "OpenSans-Bold";
  font-weight: 700;
  src: url(/assets/fonts/openSans/OpenSans-Bold.ttf) format("ttf");
}
