$color-white: rgba(255, 255, 255, 1);
$color-black: rgba(0, 0, 0, 1);
$color-blue: rgba(208, 232, 255, 1);
$color-gradient: linear-gradient(180deg, #ffd2d2 0%, #e2ccef 100%); //backg:

$size-1: 1440px;
$size-2: 1194px;
$size-3: 834px;
$size-4: 345px;

$font-inter: "Inter";
$font-open-400: "OpenSans-Regular";
$font-open-600: "OpenSans-SemiBold";
$font-open-700: "OpenSans-Bold";
